@use "../helpers/" as *;

.card {
  max-height: 377px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  transition-duration: var(--transition-duration);

  &__image {
    border-radius: 8px 8px 0 0;
  }

  &__body {
    padding: 25px 33px;
  }

  &__title {
    margin: 0 0 29px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 9px;
  }

  &__tab {
    padding: 5px 14px;
    font-size: 13px;
    color: var(--color-primary);
    background-color: var(--color-light);
    border-radius: var(--border-radius-lg);
  }
}