@use '../helpers/' as *; 

body {
  @include font(16px, 1.75, 400);

  font-family: var(--font-family-base);
  color: var(--color-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
input,
textarea {
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

button {
  color: inherit;
  background: none;
  border: none;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) *2);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}